@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center jumbotron">
        <h1 class="display-4">Welcome</h1>
        <p>This is a simple CRUD application with (Validation and Database)  built with ASP .NET Core Razor Pages</p>
        

        <a class="btn btn-primary" asp-area="" asp-page="/Movies/Index"> See Demo</a>

        <p>


        </p>
    </div>
